[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
main = 'src/bitswap_test_plots/app.py'
interactive = 'ipython3 -i src/bitswap_test_plots/app.py --'
